frr version 10.2.1
frr defaults traditional
!
router bgp {{ as_number }}
 bgp router-id {{ router_id }}
 neighbor {{ neighbor_ip }} remote-as {{ neighbor_as }}
 neighbor {{ neighbor_ip }} timers {{ hold_time }} {{ keepalive_time }}
 !
 address-family ipv4 unicast
  neighbor {{ neighbor_ip }} activate
 exit-address-family
!
