mkdir -p /tmp/frr && /usr/lib/frr/zebra -d -f /etc/frr/zebra.conf --log file:/tmp/frr/zebra.log && sleep 1 && /usr/lib/frr/bgpd -n -f /etc/frr/bgpd.conf --log file:/tmp/frr/bgpd.log -p {{ listen_port }}
