[run]
branch = True
source = panther
omit =
    */panther/plugins/services/testers/panther_ivy/scripts/*
    */panther/plugins/services/testers/panther_ivy/ivy/*
    */panther/plugins/services/testers/panther_ivy/doc/*
    */panther/plugins/services/testers/panther_ivy/examples/*
    */tests/*
    */__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov

[xml]
output = tests/coverage.xml