[submodule "panther/plugins/services/testers/panther_ivy"]
	path = panther/plugins/services/testers/panther_ivy
	url = https://github.com/ElNiak/PANTHER-Ivy.git
[submodule "panther/plugins/services/testers/ai_rfc/harness"]
	path = panther/plugins/services/testers/ai_rfc/harness
	url = https://github.com/ElNiak/ai_rfc.git
