* text=auto eol=lf

*.py linguist-detectable=true eol=lf
*.sh linguist-detectable=true eol=lf
*.html linguist-detectable=true eol=lf
*.js linguist-detectable=true eol=lf
*.log linguist-detectable=false eol=lf
*.json linguist-detectable=false eol=lf
