
[submodule "panther/plugins/implementations/panther_ivy"]
	path = panther/plugins/testers/panther_ivy
	url = git@github.com:ElNiak/PANTHER-Ivy.git
[submodule "panther/plugins/testers/BinFuzz"]
	path = panther/plugins/testers/panther_binfuzz/
	url = git@github.com:ElNiak/BinFuzz.git
