.vscode/
*.zip
QUIC-Ivy-server-rtt-bug/
temps/
.history/
__pycache__
.idea/

copy.git/

*.egg-info
*.log
panther.egg-info/
site/
docs/
docs_assets/
**/build/*

.VSCodeCounter/
outputs/qlogs/picoquic/545e19122294c793.be00.server.qlog 
outputs/qlogs/picoquic/6f934e0c650d2496.7f3d.server.qlog
panther_worker/app/implementations/other/get-pip.py
panther_worker/app/implementations/quic-implementations/quic-go/quic-go/go1.16.linux-amd64.tar.gz
*.qlog
panther/outputs/qlogs/*/*.qlog
panther/outputs/qlogs/*/*.log