[submodule "panther/panther_worker/panther-ivy"]
	path = panther/panther_worker/app/panther-ivy
	url = git@github.com:ElNiak/PANTHER-Ivy.git
[submodule "panther/panther_worker/app/panther-ivy"]
	path = panther/panther_worker/app/panther-ivy
	url = git@github.com:ElNiak/PANTHER-Ivy.git
