modules = ["c-clang14", "python-3.10", "web", "rust-stable"]
run = "panther --webapp"
compile = "pip install ."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "panther --webapp"]
build = ["sh", "-c", "pip install ."]
