modules = ["c-clang14", "python-3.10", "web", "rust-stable"]
run = "panther --webapp"
compile = "pip install ."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "panther --webapp"]
build = ["sh", "-c", "pip install ."]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Web App"

[[workflows.workflow]]
name = "Web App"
author = 39747885

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m panther --webapp"
