include LICENSE.md
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include install.md
include pyproject.toml
include requirements.txt

recursive-include panther *.py *.yml *.yaml *.jinja *.sh *.j2
recursive-include panther/webapp *
recursive-include panther/plugins *
recursive-include docs *

prune docs/site
prune tests
prune build
prune outputs
prune outputs_*
prune .github
prune .git
