docker
click
termcolor
terminal_banner
paramiko
simplejson

PyYAML == 6.0.1
pymdown-extensions
mkdocs-material-extensions
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
mkdocstrings[python]
mkdocs-exclude
mkdocs-same-dir

mkdocs  # static site generator for documentation in Markdown
mkdocs-material  # Material support for MkDocs
mkdocs-minify-plugin  # strips whitespaces in HTML markdown documentation pages
mkdocs-git-revision-date-localized-plugin  # displays the date of the last git modification of a markdown page
mkdocs-git-authors-plugin  # displays git authors of a markdown page
mkdocs-table-reader-plugin  # enables automatic CSV imports as a table into a markdown page
mkdocs-img2fig-plugin  # converts markdown encoded images to HTML figures
mknotebooks  # enables inclusion of Jupyter notebook in markdown page
mkdocs-awesome-pages-plugin  # enables naive configuration of page titles and their order
mkdocs-enumerate-headings-plugin  # enumerates headings across markdown pages
mkdocs-print-site-plugin  # allows visiters to File > Print > Save as PDF entire markdown documentation
mkgendocs  # generate MkDocs pages from Google-style docstrings of Python functions
markdown-callouts
mkdocs-coverage
mkdocs-material


