{{ binary.dir }}/{{ binary.name }} -l - -T {{ ticket_file }} -v {{ initial_version }} -c {{ certificates.cert_file }} -k {{ certificates.key_file }} {{ protocol.alpn_param }} {{ protocol.alpn_value }} {{ network.interface_param }} {{ network.interface_value }} {{ protocol.additional_parameters }} {{ protocol.alpn_param }} {{ protocol.alpn_value }} {{ network.destination_value }} {{ network.port_value }}