{{ binary.dir }}/{{ binary.name }} -l - -T {{ ticket_file }} -v {{ initial_version }} {{ certificates.cert_param }} {{ certificates.cert_file }} {{ certificates.key_param }} {{ certificates.key_file }} {{ protocol.alpn.param }} {{ protocol.alpn.value }} {{ network.interface.param }} {{ network.interface.value }} {{ protocol.additional_parameters }} {{ network.destination }} {{ network.port }} > {{ logging.log_path }} 2>&1