{{ binary.name }} {{ certificates.cert_param }} {{ certificates.cert_file }} {{ certificates.key_param }} {{ certificates.key_file }} {{ protocol.alpn.param }} {{ protocol.alpn.value }} {{ protocol.additional_parameters }} {% if network.interface %} {{ network.interface.param }} {{ network.interface.value }} {% endif %} -p {{ network.port }} > {{ logging.log_path }} 2>&1