{{ binary.dir }}/{{ binary.name }} -q {{ logging.qlog.path }} {{ certificates.cert_param }} {{ certificates.cert_file }} {{ certificates.key_param }} {{ certificates.key_file }} {{ protocol.alpn.param }} {{ protocol.alpn.value }}{% if network.interface %} {{ network.interface.param }} {{ network.interface.value }} {% endif %} -p {{ network.port }} {{ protocol.additional_parameters }} > {{ logging.log_path }} 2>&1