{{ binary.dir }}/{{ binary.name }} -q {{ log_path }} {{ certificates.cert_param }} {{ certificates.cert_file }} {{ certificates.key_file }} {{ protocol.alpn_param }} {{ protocol.alpn_value }} {{ network.interface_param }} {{ network.interface_value }} -p {{ network.port_value }} {{ protocol.additional_parameters }}