{{ binary_path }}  {{ ticket_file.param }} {{ ticket_file.file }} {{ protocol.alpn.param }} {{ protocol.alpn.value }} {{ protocol.additional_parameters }} {% if network.interface %} {{ network.interface.param }} {{ network.interface.value }} {% endif %} {% if initial_version %} -v {{ initial_version }} {% endif %} {{ target }} {{ network.port }}
