general:
  stop_time: {{ simulation_settings.stop_time }}
  model_unblocked_syscall_latency: {{ simulation_settings.model_unblocked_syscall_latency }}

experimental:
  strace_logging_mode: "{{ simulation_settings.strace_logging_mode }}"

network:
  graph:
    type: {{ network.graph.type }}
    {% if network.graph.type == "gml" %}
    inline: |
      graph [
        directed 0
        {% for node in network.graph.nodes %}
        node [
          id {{ node.id }}
          host_bandwidth_down "{{ node.bandwidth_down }}"
          host_bandwidth_up "{{ node.bandwidth_up }}"
        ]
        {% endfor %}
        {% for edge in network.graph.edges %}
        edge [
          source {{ edge.source }}
          target {{ edge.target }}
          latency "{{ edge.latency }} ms"
          jitter "{{ edge.jitter }} ms"
          packet_loss {{ edge.packet_loss }}
        ]
        {% endfor %}
      ]
    {% else %}
    file:
      path: {{ network.graph.file_path }}
    {% endif %}

host_option_defaults:
  pcap_enabled: {{ host_defaults.pcap_enabled }}

hosts:
  {% for host_name, host in hosts.items() %}
  {{ host_name }}:
    network_node_id: {{ host.network_node_id }}
    ip_addr: "{{ host.ip_addr }}"
    processes:
    {% for process in host.processes %}
    - path: {{ process.path }}
      args: {{ process.args }}
      start_time: {{ process.start_time }}
      environment:
        {% for key, value in process.environment.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
    {% endfor %}
  {% endfor %}
