general:
  stop_time: {{ simulation_settings.stop_time | default(60) }}
  model_unblocked_syscall_latency:  {%if simulation_settings.model_unblocked_syscall_latency %} true  {% else %} false {% endif %} 


experimental:
  strace_logging_mode: "{{ simulation_settings.strace_logging_mode }}"


network:
  # TODO improve network configuration -> make more modular
  graph:
    type: gml
    inline: |
      graph [
        directed 0
        node [
            id 0
            host_bandwidth_down "100 Gbit"
            host_bandwidth_up "100 Gbit"
        ]
        edge [
            source 0
            target 0
            latency "{{ simulation_settings.latency }} ms"
            jitter "{{ simulation_settings.jitter }} ms"
            packet_loss {{ simulation_settings.packet_loss}}
        ]
      ]

host_option_defaults:
  pcap_enabled: {%if simulation_settings.pcap_enabled %} true  {% else %} false {% endif %}


hosts:
  {% for service_name, service in services.items() %}
  {{ service_name }}:
    # TODO improve process configuration -> make more modular (need better config format for experiment paramters and allowed values)
    {% if service.role == "client" %}
    network_node_id: 0
    ip_addr: 11.0.0.2
    {% else %}
    network_node_id: 1
    ip_addr: 11.0.0.1
    {% endif %}

    processes:
    - path: {{ deployment_info[service_name]['working_dir'] }}/{{ deployment_info[service_name]['command_binary'] }}
      args: {{ deployment_info[service_name]['args'] }}
      {% if service.role == 'client' %}
      start_time: 5
      {% else %}
      start_time: 1
      {% endif %}
      {% if "environment" in deployment_info[service_name] %}
      environment:
        {% for key, value in deployment_info[service_name]["environment"].items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
      {% endif %}
  {% endfor %}
