[submodule "submodules/z3"]
	path = submodules/z3
	url = https://github.com/kenmcmil/z3.git
[submodule "submodules/picotls"]
	path = submodules/picotls
	url = https://github.com/h2o/picotls.git
[submodule "submodules/aiger"]
	path = submodules/aiger
	url = http://github.com/arminbiere/aiger
[submodule "submodules/abc"]
	path = submodules/abc
	url = https://github.com/kenmcmil/abc
