AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: llvm
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: WebKit
ForEachMacros: [SLIST_FOREACH, SLIST_FOREACH_FROM, SLIST_FOREACH_SAFE, SLIST_FOREACH_FROM_SAFE, SLIST_FOREACH_PREVPTR, STAILQ_FOREACH, STAILQ_FOREACH_FROM, STAILQ_FOREACH_SAFE, STAILQ_FOREACH_FROM_SAFE, LIST_FOREACH, LIST_FOREACH_FROM, LIST_FOREACH_SAFE, LIST_FOREACH_FROM_SAFE, TAILQ_FOREACH, TAILQ_FOREACH_FROM, TAILQ_FOREACH_SAFE, TAILQ_FOREACH_FROM_SAFE, TAILQ_FOREACH_REVERSE, TAILQ_FOREACH_REVERSE_FROM, TAILQ_FOREACH_REVERSE_SAFE, TAILQ_FOREACH_REVERSE_FROM_SAFE, SPLAY_FOREACH, RB_FOREACH, RB_FOREACH_FROM, RB_FOREACH_SAFE, RB_FOREACH_REVERSE, RB_FOREACH_REVERSE_FROM, RB_FOREACH_REVERSE_SAFE, sl_foreach, sl_foreach_from, sl_foreach_safe, sl_foreach_from_safe, sl_foreach_prevptr, sq_foreach, sq_foreach_from, sq_foreach_safe, sq_foreach_from_safe, splay_foreach, splay_foreach_rev, diet_foreach, diet_foreach_rev, TIMEOUTS_FOREACH]
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
