[submodule "lib/deps/warpcore"]
        path = lib/deps/warpcore
        url = https://github.com/NTAP/warpcore.git
[submodule "lib/deps/picotls"]
        path = lib/deps/picotls
        url = https://github.com/h2o/picotls.git
[submodule "lib/deps/picoquic"]
        path = lib/deps/picoquic
        url = https://github.com/private-octopus/picoquic.git
[submodule "lib/deps/timeout"]
	path = lib/deps/timeout
	url = https://github.com/larseggert/timeout.git
