name: {{ experiment_name | lower }}
# When no services are provided, a placeholder service is used
services:
{% if services %}
  {% for service in services %}
  {{ service.service_name  }}:
    image: {{ service.implementation_name }}_{{ service.service_protocol.version.name }}_panther:latest
    container_name: {{ service.service_name  }}
    stop_grace_period: 30s
    ports:
      {% for port in service.service_config_to_test.ports %}
      - "{{ port }}"
      {% endfor %}
    {% if service.role == 'client' %}
    depends_on:
      - {{ service.service_targets }}
    {% endif %}
    environment:
      ROLE: {{ service.role.name }}
      SSLKEYLOGFILE: "/app/logs/sslkeylogfile.txt"
      UID: "${UID}"
      GID: "${GID}"
      {% for key, value in service.environments.items() %}
      {{ key }}: "{{ value }}"
      {% endfor %}
    tty: true
    stdin_open: true
    # TODO fix in the docker
    cap_add:
      - CAP_NET_ADMIN
      - CAP_NET_RAW
    working_dir: "{{ service.run_cmd["run_cmd"]["working_dir"] }}"
    entrypoint:
      - /bin/sh
      - -c
      - |
        chmod +x /app/entrypoint.sh \
        && exec /app/entrypoint.sh

    # TODO fix sudo tshark
    volumes:
      - {{ log_dir | realpath }}/{{ service.service_name  }}:/app/logs/
      - {{ output_dir | realpath }}/entrypoint_{{ service.service_name  }}.sh:/app/entrypoint.sh
      {% for volume in service.volumes %}
      {% if volume | is_dict %}
      - "{{ volume.local | realpath }}:{{ volume.container }}"
      {% else %}
      - "{{ volume }}"
      {% endif %}
      {% endfor %}
    networks:
      panther_network:
        aliases:
          - {{ service.service_name  }}
  {% endfor %}
{% else %}
  placeholder:
    image: alpine:latest
    container_name: placeholder
    command: ["echo", "No services defined, using placeholder"]
    networks:
      - panther_network
{% endif %}

networks:
  panther_network:
    driver: bridge

volumes:
  shared_logs:
    driver: local