@font-face {
    font-family: "Nokia Pure Regular";
    src: url("fonts/NokiaPureText-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Nokia Pure Medium";
    src: url("fonts/NokiaPureText-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Nokia Pure Bold";
    src: url("fonts/NokiaPureText-Bold.ttf") format("truetype");
  }
  
  body {
    font-family: "Nokia Pure Regular";
  }
  
  #cy {
    width: 100%;
    height: 90vw;
    position: relative;
    margin: auto;
    background: #fafafa;
    background-image: radial-gradient(#bebebe 1px, transparent 0);
    background-size: 18px 18px;
  }
  
  .icon {
    mask-size: cover;
    -webkit-mask-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  
  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .element-severity_badge {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -36px;
    margin-top: -4px;
    border: 3px solid #fff;
    box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.12), 0 1px 1px 0 rgb(0, 0, 0, 0.12);
    background: #fff;
    z-index: 999;
  }
  
  .element-severity_badge > .icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: -2px;
    right: 2px;
    position: relative;
  }
  
  .element-pm_badge {
    position: absolute;
    width: 32px;
    height: 16px;
    border-radius: 2px;
    margin-left: 46px;
    margin-top: 34px;
    background: #048375;
    z-index: 999;
    display: inline-flex;
  }
  
  .element-pm_badge > .icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-top: 1px;
    display: block;
    background: #fff;
  }
  
  .element-pm_badge2 {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -36px;
    margin-top: 30px;
    border: 3px solid #fff;
    box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.12), 0 1px 1px 0 rgb(0, 0, 0, 0.12);
    background: #fff;
    z-index: 999;
  }
  
  .element-pm_badge2 > .icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: -2px;
    right: 2px;
    position: relative;
    background: #048375;
  }
  
  .element-pm_badge > span {
    font-family: "Nokia Pure Regular";
    font-size: 10px;
    line-height: 16px;
    vertical-align: middle;
    color: #fff;
  }
  
  .element-graphic {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: 4px solid rgb(255, 255, 255, 1);
    box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.12), 0 1px 1px 0 rgb(0, 0, 0, 0.24);
  }
  
  /*box-shadow: 0 0 0px 2px rgb(227, 73, 76, 1);*/
  
  .element-graphic.hover > .overlay {
    width: 38px;
    height: 38px;
    position: absolute;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 50%;
  }
  
  .element-graphic.selected {
    box-shadow: 0 0 0px 2px #5da4ef;
    border: 4px solid rgb(255, 255, 255, 1);
  }
  
  .element-label {
    font-family: "Nokia Pure Regular";
    font-size: 10px;
    color: rgb(0, 0, 0, 0.87);
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    padding-top: 4px;
  }
  
  .group {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .group.hide {
    display: none;
  }
  
  .group.show {
    display: inline-flex;
  }
  
  .group-graphic {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 56px;
    height: 56px;
    background: #eeeeee;
    margin-top: 16px;
    border: 1px solid #dcdcdc;
  }
  
  .group-graphic > .icon {
    background: #ffffff;
  }
  
  .group-graphic.hover > .overlay {
    width: 56px;
    height: 56px;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.3);
  }
  
  .group-graphic.selected {
    box-shadow: 0 0 0px 2px #5da4ef;
    border: 1px solid rgb(255, 255, 255, 1);
  }
  
  .group-label {
    font-family: "Nokia Pure Regular";
    font-size: 10px;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575;
    text-transform: uppercase;
    margin-top: 6px;
  }


  .component {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .component.hide {
    display: none;
  }
  
  .component.show {
    display: inline-flex;
  }
  
  .component-graphic {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 56px;
    height: 56px;
    background: #eeeeee;
    margin-top: 16px;
    border: 1px solid #dcdcdc;
  }
  
  .component-graphic > .icon {
    background: #9e9e9e;
  }
  
  .component-graphic.hover > .overlay {
    width: 56px;
    height: 56px;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.3);
  }
  
  .component-graphic.selected {
    box-shadow: 0 0 0px 2px #5da4ef;
    border: 1px solid rgb(255, 255, 255, 1);
  }
  
  .component-label {
    font-family: "Nokia Pure Regular";
    font-size: 10px;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575;
    text-transform: uppercase;
    margin-top: 6px;
  }

  
  /* ICONS */
  .icon-equipment_ne {
    mask-image: url(./imgs/ic_equipment_ne.svg);
    -webkit-mask-image: url(./imgs/ic_equipment_ne.svg);
  }
  
  .icon-server {
    mask-image: url(./imgs/ic_server.svg);
    -webkit-mask-image: url(./imgs/ic_server.svg);
  }
  
  .icon-NetworkService {
    mask-image: url(./imgs/ic_service.svg);
    -webkit-mask-image: url(./imgs/ic_service.svg);
  }
  
  .icon-TelcoCloudVirtualDevice {
    mask-image: url(./imgs/ic_device.svg);
    -webkit-mask-image: url(./imgs/ic_device.svg);
  }
  
  .icon-TelcoCloudPhysicalDevice {
    mask-image: url(./imgs/ic_router_circle.svg);
    -webkit-mask-image: url(./imgs/ic_router_circle.svg);
  }
  
  .icon-VNFComponent,
  .icon-VNF {
    mask-image: url(./imgs/ic_virtual_network_function.svg);
    -webkit-mask-image: url(./imgs/ic_virtual_network_function.svg);
  }
  
  .icon-group {
    mask-image: url(./imgs/ic_group.svg);
    -webkit-mask-image: url(./imgs/ic_group.svg);
  }
  
  .icon-pm {
    mask-image: url(./imgs/ic_threshold_policy.svg);
    -webkit-mask-image: url(./imgs/ic_threshold_policy.svg);
  }
  
  /** ALARM SEVERITY **/
  .icon-indeterminate {
    background: url(./imgs/ic_indeterminate_kpi.svg);
  }
  
  .icon-cleared {
    background: url(./imgs/ic_cleared_kpi.svg);
  }
  
  .icon-warning {
    background: url(./imgs/ic_warning_kpi.svg);
  }
  
  .icon-minor {
    background: url(./imgs/ic_minor_kpi.svg);
  }
  
  .icon-major {
    background: url(./imgs/ic_major_kpi.svg);
  }
  
  .icon-critical {
    background: url(./imgs/ic_critical_kpi.svg);
  }
  
  /** OPERATION STATE **/
  .serviceOperationalState-Active,
  .administrativeState-Activated,
  .operationalState-Working,
  .resourceLifecycleState-Operating,
  .resourceUsageState-Assigned,
  .powerState-PowerUp {
    background: #c1e7e3;
  }
  .serviceOperationalState-Active .icon,
  .administrativeState-Activated .icon,
  .operationalState-Working .icon,
  .resourceLifecycleState-Operating .icon,
  .resourceUsageState-Assigned .icon,
  .powerState-PowerUp .icon {
    background: #048375;
  }
  
  .serviceOperationalState-Terminated,
  .administrativeState-NotApplicable,
  .resourceLifecycleState-Retiring,
  .resourceUsageState-NotAvailable {
    background: #bdbdbd;
  }
  .serviceOperationalState-Terminated .icon,
  .administrativeState-NotApplicable .icon,
  .resourceLifecycleState-Retiring .icon,
  .resourceUsageState-NotAvailable .icon {
    background: rgb(0, 0, 0, 0.7);
  }
  
  .serviceOperationalState-Inactive,
  .administrativeState-Deactivated,
  .operationalState-notWorking,
  .powerState-PowerDown {
    background: #e4afb1;
  }
  .serviceOperationalState-Inactive .icon,
  .administrativeState-Deactivated .icon,
  .operationalState-notWorking .icon,
  .powerState-PowerDown .icon {
    background: #8e0022;
  }
  
  .serviceOperationalState-Unknown,
  .administrativeState-Unknown,
  .operationalState-Unknown,
  .resourceLifecycleState-Unknown,
  .resourceUsageState-Unknown,
  .powerState-Unknown {
    background: #9cbfd8;
  }
  .serviceOperationalState-Unknown .icon,
  .administrativeState-Unknown .icon,
  .operationalState-Unknown .icon,
  .resourceLifecycleState-Unknown .icon,
  .resourceUsageState-Unknown .icon,
  .powerState-Unknown .icon {
    background: #012345;
  }
  
  .serviceOperationalState-Designed,
  .resourceLifecycleState-Installing,
  .resourceUsageState-Reserved {
    background: #ffdf81;
  }
  .serviceOperationalState-Designed .icon,
  .resourceLifecycleState-Installing .icon,
  .resourceUsageState-Reserved .icon {
    background: #8d6900;
  }
  
  .resourceLifecycleState-Installing,
  .resourceUsageState-Reserved {
    background: #d9b5ed;
  }
  .resourceLifecycleState-Installing .icon,
  .resourceUsageState-Reserved .icon {
    background: #7e06c4;
  }
  
  .node-hidden {
    display: none;
  }
  
  /** CONTEXTUAL MENU **/
  .custom-menu-item {
    border: none !important;
    height: 32px !important;
    width: 170px !important;
    padding-left: 24px !important;
    color: rgb(0, 0, 0, 0.87) !important;
    background-color: #fafafa !important;
    font-weight: normal !important;
    font-family: "Nokia Pure Regular" !important;
    font-size: 13px !important;
    text-align: left !important;
    box-shadow: none !important;
  }
  
  .custom-menu-item:hover {
    background-color: #c8c8c8 !important;
  }
  
  .custom-context-menu {
    border: none !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background-color: #fafafa !important;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.12),
      0px 8px 8px 0px rgb(0, 0, 0, 0.24) !important;
  }
  
  /*Ovveride Navigator border and background:*/
  .cytoscape-navigator {
    border: 2px solid #bebebe !important;
    background: white !important;
    height: 25vh !important;
    width: 25vw !important;
    margin-bottom: 24px;
    margin-right: 24px;
  }
  
  /*Add border to View container:*/
  .cytoscape-navigator .cytoscape-navigatorView {
    border: 2px solid #124191;
    background: transparent;
  }
  
  /*Ovveride overlay container when mouse is over Navigator*/
  .cytoscape-navigator:hover .cytoscape-navigatorOverlay {
    border: 2px solid #124191;
    background: transparent;
  }
  
  /*Ovveride view's container when mouse is over view*/
  .cytoscape-navigator.mouseover-view .cytoscape-navigatorView {
    background-color: rgba(18, 65, 145, 0.3);
  }
  