version: '3.8'

services:
  {% for service_name, service in services.items() %}
  {{ service_name }}:
    image: {{ service.implementation }}:{{ service.version }}
    container_name: {{ service_name }}
    ports:
      {% for port in service.ports %}
      - "{{ port }}"
      {% endfor %}
    environment:
      ROLE: {{ service.parameters.role }}
      VERBOSITY: {{ service.parameters.verbosity }}
      {% if service.parameters.role == 'client' %}
      TARGET: {{ service.parameters.target }}
      MESSAGE: "{{ service.parameters.message }}"
      CONNECT_TIMEOUT: {{ service.parameters.connect_timeout }}
      {% endif %}
    command: >
      {% if service.parameters.role == 'server' %}
        ./picoquicdemo_server --port {{ service.parameters.port }} --bind {{ service.parameters.bind_address }} --verbosity {{ service.parameters.verbosity }}
      {% elif service.parameters.role == 'client' %}
        ./picoquicdemo_client {{ service.parameters.target }} {{ service.parameters.port }} --message "{{ service.parameters.message }}" --connect_timeout {{ service.parameters.connect_timeout }} --verbosity {{ service.parameters.verbosity }}
      {% endif %}
    networks:
      - panther_network
  {% endfor %}

networks:
  panther_network:
    driver: bridge
