# plugins/environments/docker_compose/templates/docker-compose-template.j2

version: '3.8'

services:
  {% for service_name, service in services.items() %}
  {{ service_name }}:
    image: {{ service.implementation }}_{{ service.version }}_panther:latest
    container_name: {{ service_name }}
    ports:
      {% for port in service.ports %}
      - "{{ port }}"
      {% endfor %}
    environment:
      ROLE: {{ service.parameters.role }}
      VERBOSITY: {{ service.parameters.verbosity }}
    command: "{{ deployment_commands[service_name] }}"
    volumes:
      - "{{ output_dir }}/logs/{{ service_name }}/logs:/app/logs"
    networks:
      - panther_network
  {% endfor %}

networks:
  panther_network:
    driver: bridge
