# TODO remove space
name: {{ experiment_name }}
services:
  {% for service_name, service in services.items() %}
  {{ service_name }}:
    {% if service.type == "tester" %}
    image: {{ service.implementation }}_{{ service.protocol.version }}_panther:latest
    {% else %}
    image: {{ service.implementation }}_{{ service.version }}_panther:latest
    {% endif %}
    container_name: {{ service_name }}
    ports:
      {% for port in service.ports %}
      - "{{ port }}"
      {% endfor %}
    {% if service.role == 'client' %}
    depends_on:
      - {{ service.target }}
    {% endif %}
    environment:
      ROLE: {{ service.role }}
      SSLKEYLOGFILE: "/app/logs/sslkeylogfile.txt" 
      UID: "${UID}"
      GID: "${GID}"
      {% if service_name in environments%}
      {% for key, value in environments[service_name].items() %}
      {{ key }}: "{{ value }}"
      {% endfor %}
      {% endif %}
    tty: true
    stdin_open: true
    cap_add:
      - CAP_NET_ADMIN
      - CAP_NET_RAW
    working_dir: "{{ deployment_info[service_name]['working_dir'] }}"
    # TODO protocol + duration
    command: 
    {% if not "ivy" in service_name  %}
      - bash -c "
          {{ additional_command }} 
          (tshark -a duration:10 -i any -w /app/logs/{{ service_name }}.pcap;) & (sleep 2; {{ deployment_info[service_name]['command'] }})"
    {% else %}
      - bash -c "{{ deployment_info[service_name]['compilation_command'] }} && (tshark -a duration:10 -i any -w /app/logs/{{ service_name }}.pcap;) & (sleep 2; {{ deployment_info[service_name]['command'] }})"
    {% endif %}
    volumes:
      - {{ log_dir | realpath }}/{{ service_name }}:/app/logs/
      {% for volume in deployment_info[service_name]['volumes'] %}
      {% if volume | is_dict %}
      - "{{ volume.local | realpath }}:{{ volume.container }}"
      {% else %}
      - "{{ volume }}"
      {% endif %}
      {% endfor %}
    networks:
      panther_network:
        aliases: 
          - {{ service_name }}
  {% endfor %}

networks:
  panther_network:
    driver: bridge

volumes:
  shared_logs:
    driver: local